# IDE
.idea/
.nova/
.vs/
.vscode/
!.vscode/i18n-ally-custom-framework.yml
*.code-workspace
*.iml
*.swp

sdm.lock

# Node Modules
node_modules/

# OS Specific
.DS_Store

# Foundry DB Files
packs/

foundry-config.yaml
foundry

tests/out/
