@use '../utils/typography' as typo;
@use '../utils/colors' as colors;

.item-form {
  font-family: typo.$font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  //margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .caravan-profile-img {
    flex: 0 0 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .header-fields {
    flex: 1;
  }
}

.sheet-tabs {
  flex: 0;
  height: 30px;
  font-family: typo.$font-tab;
  font-weight: bold;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tab.biography {
  flex: 1;

  .editor {
    height: 100%;
  }
}

.tab.routes {
  flex: 1;
}

.tab.transport {
  flex: 1;
}

.tab.notes {
  flex: 1;

  .editor {
    height: 100%;
  }
}

.tox {
  .tox-editor-container {
    background: colors.$c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.height-32 {
  height: 32px;
}

.grid-span-1.flexrow.flex-between {
  gap: 15px;
}

.resources.grid.grid-5col {
  margin-top: 0px;
}
