@use '../utils/typography' as typo;
@use '../utils/colors' as colors;
@use '../utils/variables' as vars;

// Section Header
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: vars.$border-groove;
  font-weight: bold;
  > * {
    font-size: 14px;
    text-align: center;
  }
  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

// -----------------------------------------
// Items Lists
// -----------------------------------------

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 380px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: colors.$c-tan;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Item Name
  .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
    display: flex;
    h3, h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 100px;
    justify-content: flex-end;
    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .item {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid colors.$c-faint;
    &:last-child { border-bottom: none; }
    .item-name {
      color: colors.$c-dark;
      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    }
  }

  .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  // Section Header
  .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: vars.$border-groove;
    font-weight: bold;
    > * {
      font-size: 12px;
      text-align: center;
    }
    .item-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }
}

// Example style for Sdm (can be removed if not needed).
.item-formula {
  flex: 0 0 100px;
  padding: 0 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider Background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555;
  transition: .4s;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

/* Slider Circle */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/* Checked State - Foundry Orange */
input:checked + .slider {
  background-color: colors.$c-violet;
}

/* Move slider on checked */
input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded Slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Disabled State */
.switch input:disabled + .slider {
  opacity: 0.5;
  cursor: default;
}

.roll-icon {
  font-size: 15px;
  margin-right: 5px;
}
