@use '../utils/typography' as typo;

.resource-label {
  //font-weight: bold;
  font-family: typo.$font-primary;
  font-size: 14px;
}

.ability {
  margin-bottom: 2px;
}

.ability-score,
.ability-mod {
  flex: 0 0 44px;
}

.ability-full {
  margin-left: 5px;
  margin-right: 5px;
}
