// _colors.scss

// Defina primeiro as variáveis Sass
$c-white: #ffffff;
$c-black: #000000;
$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444444;
$c-border: rgb(51, 51, 51);
$c-groove: #eeede0;
$c-violet: rgb(134, 3, 173);
$c-font: rgb(102, 102, 102);

// 10 color rainbow
$c-rust: #cc2f00;
$c-pumpkin: #db6600;
$c-amber: #e39e00;
$c-lime: #76b80d;
$c-pine: #007668;
$c-sky: #006486;
$c-azure: #007cb5;
$c-royal: #465ab2;
$c-heart: #6d47b1;
$c-plum: #873b9c;

// Depois mapeie para variáveis CSS
:root {
  --sdm-c-dark: #{$c-dark};
  --sdm-c-faint: #{$c-faint};
  --sdm-c-beige: #{$c-beige};
  --sdm-c-tan: #{$c-tan};
  --sdm-c-white: #{$c-white};
  --sdm-c-black: #{$c-black};
  --sdm-c-groove: #{$c-groove};
  // --color-shadow-primary: rgb(193, 4, 250);
  // --color-shadow-highlight: rgb(193, 4, 250);
  // --color-border-highlight: rgb(193, 4, 250);
  // --color-border-highlight-alt: rgb(193, 4, 250);
  // --color-scrollbar:rgb(193, 4, 250);
}

.theme-dark {
  --sdm-c-dark: #{$c-faint};
  --sdm-c-faint: #{$c-dark};
  --sdm-c-beige: #{$c-tan};
  --sdm-c-tan: #{$c-beige};
  --sdm-c-white: #{$c-black};
  --sdm-c-black: #{$c-white};
  --sdm-c-groove: #11121f;
}
