// _colors.scss

:root {
  --sdm-c-dark: #191813;
  --sdm-c-faint: #c9c7b8;
  --sdm-c-beige: #b5b3a4;
  --sdm-c-tan: #444444;
  --sdm-c-white: #ffffff;
  --sdm-c-black: #000000;
  --sdm-c-groove: #eeede0;
  --sdm-c-border: rgb(51, 51, 51);
  --sdm-c-font: rgb(102, 102, 102);
  --sdm-c-ligh-border: #b5b3a4;
  --sdm-c-violet: #7F00FF;
  --sdm-c-ultraviolet: #b84eff;
  --sdm-c-theme: #00A2AB;
  --sdm-c-table: #CDECEE;

  // 10 color rainbow
  --sdm-c-rust: #cc2f00;
  --sdm-c-pumpkin: #db6600;
  --sdm-c-amber: #e39e00;
  --sdm-c-lime: #76b80d;
  --sdm-c-pine: #007668;
  --sdm-c-sky: #006486;
  --sdm-c-azure: #007cb5;
  --sdm-c-royal: #465ab2;
  --sdm-c-heart: #6d47b1;
  --sdm-c-plum: #873b9c;

  --sdm-c-readied: #000000;
  --sdm-c-not-readied: grey;

  --color-shadow-primary: #b84eff;
  --color-shadow-highlight: #b84eff;
  --color-border-highlight: #b84eff;
  --color-border-highlight-alt: #b84eff;
  --color-scrollbar:#b84eff;
  --scrollbar-color:#b84eff;
}

.theme-dark {
  --sdm-c-dark: #c9c7b8;
  --sdm-c-faint: rgb(159, 132, 117);
  --sdm-c-beige: #444444;
  --sdm-c-tan: #b5b3a4;
  --sdm-c-white: #000000;
  --sdm-c-black: #ffffff;
  --sdm-c-groove: rgb(159, 132, 117);
  --sdm-c-border: rgb(204, 204, 204);
  --sdm-c-ligh-border: rgb(159, 132, 117);
  --sdm-c-font: rgb(230, 230, 230);
  --sdm-c-violet: rgb(200, 100, 255);
  --sdm-c-ultraviolet: rgb(255, 150, 255);

  --sdm-c-rust: #ff5a2f;
  --sdm-c-pumpkin: #ff944d;
  --sdm-c-amber: #ffcc66;
  --sdm-c-lime: #a5e042;
  --sdm-c-pine: #26bba6;
  --sdm-c-sky: #26a2c6;
  --sdm-c-azure: #33bfff;
  --sdm-c-royal: #7489ff;
  --sdm-c-heart: #a081ff;
  --sdm-c-plum: #c771d2;

  --sdm-c-readied: #ffffff;
  --sdm-c-not-readied: #b5b3a4;

  --color-shadow-primary: rgb(200, 100, 255);
  --color-shadow-highlight: rgb(200, 100, 255);
  --color-border-highlight: rgb(200, 100, 255);
  --color-border-highlight-alt: rgb(200, 100, 255);
  --color-scrollbar:rgb(200, 100, 255);
  --scrollbar-color:rgb(200, 100, 255);

  --sdm-c-theme: #00A2AB;
  --sdm-c-table: #CDECEE;

}

$c-dark: var(--sdm-c-dark);
$c-faint: var(--sdm-c-faint);
$c-beige: var(--sdm-c-beige);
$c-tan: var(--sdm-c-tan);
$c-white: var(--sdm-c-white);
$c-black: var(--sdm-c-black);
$c-groove: var(--sdm-c-groove);
$c-border: var(--sdm-c-border);
$c-light-border: var(--sdm-c-ligh-border);
$c-font: var(--sdm-c-font);
$c-violet: var(--sdm-c-violet);
$c-ultraviolet: var(--sdm-c-ultraviolet);
$c-theme: var(--sdm-c-theme);
$c-table: var(--sdm-c-table);

// 10 color rainbow
$c-rust: var(--sdm-c-rust);
$c-pumpkin: var(--sdm-c-pumpkin);
$c-amber: var(--sdm-c-amber);
$c-lime: var(--sdm-c-lime);
$c-pine: var(--sdm-c-pine);
$c-sky: var(--sdm-c-sky);
$c-azure: var(--sdm-c-azure);
$c-royal: var(--sdm-c-royal);
$c-heart: var(--sdm-c-heart);
$c-plum: var(--sdm-c-plum);

$c-readied: var(--sdm-c-readied);
$c-not-readied: var(--sdm-c-not-readied);
