{{! Sheet Header }}
<div>
{{#if (eq actor.type 'character')}}
  {{> "systems/sdm/templates/actor/character/header.hbs"}}
{{/if}}
{{#if (eq actor.type 'npc')}}
  {{> "systems/sdm/templates/actor/npc/header.hbs"}}
{{/if}}
</div>
