{{! Features Tab }}
<section
  class='tab features
    {{#if (eq actor.type "npc")}}scrollable{{/if}} {{tab.cssClass}}'
  data-group='primary'
  data-tab='inventory'
>
  <div class="grid grid-3col">
    <div class="main grid-span-1">{{> ($$ "actor/items")}}</div>
    <div class="main grid-span-1">{{> ($$ "actor/traits")}}</div>
    <div class="main grid-span-1">{{> ($$ "actor/burdens")}}</div>
  </div>
</section>
