<fieldset class="sdm-config">
  {{#if legend}}<legend>{{legend}}</legend>{{/if}}
  {{#each fields}}
    <div class="form-group">
      <h6><strong>{{this.label}}</strong></h6>
      <div class="form-fields">
        {{{this.inputHTML}}}
      </div>
      {{#if this.hint}}<p class="hint">{{{this.hint}}}</p>{{/if}}
    </div>
  {{/each}}
</fieldset>


