<div class='custom-roll-modal'>
  <h4>
    {{localize 'SDM.MoraleRoll'}}
  </h4>
  <form class='custom-roll-form'>
    <div class='form-group mt-10'>
      <label for='modifier'>
        {{localize 'SDM.RollModifier'}}
      </label>
      <input id='modifier' type='text' name='modifier' value='' />
    </div>
  </form>
  <br />
  <br />
</div>