@use '../utils/typography' as typo;
@use '../utils/colors' as colors;

.window-app {
  font-family: typo.$font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: colors.$c-black;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.application.sheet.sdm.actor {
  min-width: 930px;
  min-height: 820px;
  max-width: 1500px;
  max-height: 1500px;
  &.minimized {
    min-width: 0px;
    min-height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
}

.application.sheet.sdm.actor.npc {
  min-width: 800px;
  min-height: 500px;
  max-width: 800px;
  max-height: 500px;
  &.minimized {
    min-width: 0px;
    min-height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
}

.application.sheet.sdm.item {
  min-width: 580px;
  min-height: 600px;
  &.minimized {
    min-width: 0px;
    min-height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
}

.rust {
  color: colors.$c-rust;
}

.pumpkin {
  color: colors.$c-pumpkin;
}

.amber {
  color: colors.$c-amber;
}

.lime {
  color: colors.$c-lime;
}

.pine {
  color: colors.$c-pine;
}

.sky {
  color: colors.$c-sky;
}

.azure {
  color: colors.$c-azure;
}

.royal {
  color: colors.$c-royal;
}

.heart {
  color: colors.$c-heart;
}

.plum {
  color: colors.$c-plum;
}

.icon-border {
  letter-spacing: 1px;
  text-shadow:
    -0.7px -0.7px 0 colors.$c-border,
    0 -0.7px 0 colors.$c-border,
    0.7px -0.7px 0 colors.$c-border,
    0.7px 0 0 colors.$c-border,
    0.7px 0.7px 0 colors.$c-border,
    0 0.7px 0 colors.$c-border,
    -0.7px 0.7px 0 colors.$c-border,
    -0.7px 0 0 colors.$c-border;
}

.system-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .25rem;

    > img {
      height: 100px;
      border: none;
      object-fit: contain;
    }

    .system-info {
      position: relative;
      font-size: var(--font-size-16);
      i {
        padding-inline-start: 2px;
        font-size: var(--font-size-12);
      }
    }
  }
