@use '../utils/typography' as typo;
@use '../utils/colors' as colors;

.window-app {
  font-family: typo.$font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: colors.$c-black;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.application.sheet.sdm.actor {
  min-width: 850px;
  min-height: 820px;
  max-width: 1500px;
  max-height: 1500px;
  &.minimized {
    min-width: 0px;
    min-height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
}

.application.sheet.sdm.item {
  min-width: 480px;
  min-height: 525px;
  &.minimized {
    min-width: 0px;
    min-height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}


.mb-20 {
  margin-bottom: 20px;
}
