<div class='custom-roll-modal'>
  <h4>
    {{localize 'SDM.ReactionRoll'}}
  </h4>
  <form class='custom-roll-form'>
    <div class='form-group'>
      <label for='modifier'>
        {{localize 'SDM.RollModifier'}}
      </label>
      <input id='modifier' type='text' name='modifier' value='' />
    </div>
    <div class="form-group mt-10">
      <label for="rollMode">{{localize 'SDM.RollMode'}}</label>
      <select name="rollMode" id="rollMode">
        {{selectOptions rollModes localize=true selected='normal'}}
      </select>
    </div>
  </form>
  <br />
</div>
