{{! Sheet Header }}
<div>
  {{#if (eq item.type 'trait')}}
  {{> ($$ "item/trait/header") skillMod=@root.skillMod}}
  {{/if}}

  {{#if (eq item.type 'gear')}}
  {{> ($$ "item/gear/header")}}
  {{/if}}

  {{#if (eq item.type 'burden')}}
  {{> ($$ "item/burden/header")}}
  {{/if}}

  {{!-- {{#if (eq item.type 'vehicle')}}
  {{> ($$ "item/vehicle/header")}}
  {{/if}}

  {{#if (eq item.type 'vehicle')}}
    {{> ($$ "item/vehicle/header")}}
  {{/if}} --}}
</div>
